.qwerty{color: rgb(22, 52, 126);}
.pic {
    width: 350px;
}
.qwerty1{color: rgb(12, 103, 19);}
.pic1 {
    width: 300px;
}
.qwerty2{color: rgb(203, 38, 155);}
.pic2 {
    width: 330px;}
.qwerty3{color: rgb(117, 100, 55);}
.qwerty4{color: rgb(236, 14, 14);}